BASE_URL=""
AUTH_SECRET=""
NEXT_PUBLIC_RAINBOWKIT_PROJECT_ID=""
NEXTAUTH_SECRET=""

#AWS COGNITO
AWS_COGNITO_REGION=""
AWS_COGNITO_POOL_ID=""
AWS_COGNITO_APP_CLIENT_ID=""

#Sepolia
NEXT_PUBLIC_BACKEND_API__SEPOLIA=""
NEXT_PUBLIC_RPC_URL__SEPOLIA=""
NEXT_PUBLIC_FACTORY_ADDRESS__SEPOLIA=""

#Base Sepolia
NEXT_PUBLIC_BACKEND_API__BASE_SEPOLIA=""
NEXT_PUBLIC_RPC_URL__BASE_SEPOLIA=""
NEXT_PUBLIC_FACTORY_ADDRESS__BASE_SEPOLIA=""

MORALIS_API_KEY=""

ALCHEMY_API_KEY=""

#WETH address
NEXT_PUBLIC_WETH_ADDRESS=""
